.ac-container {
    max-width: 675px;
    width: 100%;
}

.ac-element {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.ac-element:last-child {
    margin-bottom: 0;
}

.ac-container .ac-header{
    padding: 15px;
    position: relative;
    z-index: 20;
    cursor: pointer;    
    background: transparent url(../img/arrowDown.png) no-repeat right 15px center;
}

.ac-element.active .ac-header {
    border-bottom: 1px solid #ccc;
    background: transparent url(../img/arrowUp.png) no-repeat right 15px center;
}
.ac-title {
    font: 14px 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    text-transform: uppercase;
    display: inline-block; 

}
.ac-icon {
    width: 37px;
    height: 37px;
    display: inline-block; 
    vertical-align: middle;
    margin-right: 15px;

}
.ac-icon.picture {
    background: transparent url(../img/picture.png) no-repeat;
}
.ac-icon.equalizer {
    background: transparent url(../img/equalizer.png) no-repeat;
}
.ac-icon.bullseye {
    background: transparent url(../img/bullseye.png) no-repeat;
}


.ac-container .ac-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0px;
    position: relative;
    z-index: 10;
    color: #a6a6a6;
    font-style: italic;
    line-height: 22px;
    font-size: 14px;
    padding-right: 10px;
    margin: 0 22px 0 15px;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-element.active .ac-content {
    height: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.ac-container .ac-content::-webkit-scrollbar {
    width: 5px;
}
 
.ac-container .ac-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #efefef;
    border-radius: 20px;
}
 
.ac-container .ac-content::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 20px;
}





/*.ac-container input:checked {    
    background: transparent url(../img/arrowUp.png) no-repeat center right;
}*/
/*.ac-container input:checked + label:hover:after {
    background-image: url(../img/arrowUp.png);
}*/



/*.ac-container label:hover{
    background: transparent url(../img/arrowUp.png) no-repeat center right;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
}*/



/*.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    background: transparent url(../img/arrowDown.png) no-repeat center center;
}*/



/*.ac-container input {
    display: none;
}*/


/*.ac-container input:checked ~ article {
    height: 140px;
}*/


