 /*color : #95e1d3;*/
body {
	font: 15px 'Roboto', sans-serif;
	color: #999999;
}
hr {
	border-top: 3px solid #f38181;
    width: 60px;
    margin: 35px auto;
}
input[type=text], input[type=email], input[type=password], input[type=number]{
	border: 1px solid #e7e7e7;
	padding: 0 15px;
	height: 40px;
	width: 100%;
	font-style: italic;
	font-size: 12.5px;
	display: block;
} 
.btn {
	border: none;
	border-radius: 0;
	text-transform : uppercase;
	font: 13px 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 0 25px;
	height: 40px;
}
.btn-turquoise {
	color: #fff;
	background: #95e1d3;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Header */
	.header {
		background: #e9a585 url(../img/header.png);		
		background-position: center center;
		background-size: cover;
		max-width: 100%;
	    color: #fff;
	}
	.navbar {
		padding-top: 20px;
	}
	.navbar .logo {
    	float: left;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 30px;
	    font-weight: 700;
	}
	.navbar nav {
		float: right;
	}
	.navbar .menu {
	    list-style-type: none;
	}
	.navbar li {
	    float: left;
	}
	.navbar li a {
	    display: block;
	    text-align: center;
	    padding: 10px 15px;
	    color: #fff;
	    text-decoration: none;
	    text-transform : uppercase;
	    font: 14px 'Montserrat', sans-serif;
	}
	.navbar .menu .active a{
	    color: #fce38a;
		border-bottom: 2px solid #fce38a;
	}
	/*.navbar .menu .active a:hover {
		border-bottom: none;
		color: #fff;
	}*/
	.navbar li a:hover {
	    background-color: transparent;
		border-bottom: 2px solid #fce38a;
	    color: #fce38a;
	}
	.header .main {
		margin: 70px 0;
	}
	.header .heading {
		font: 50px 'Kaushan Script', cursive;
		text-align: center;
		/*font-size: 50px;*/
		color: #fff;
	}
	.header .subheading {
	    font: 100px 'Montserrat', sans-serif;
	    font-weight: 700;
	    color: #fff;
	    line-height: 80px;
	    margin: 20px 0;
	    text-transform : uppercase;
	    text-align: center;
	}	

	.header hr {
		border-color: #fff;
	}
	.header button {
		border: none;
		color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    width: 157px;
	    padding: 8px 15px;
	    margin: 20px 0;
	    background: transparent;
	    border: 3px solid #fff;
   		font: 14px 'Montserrat', sans-serif;
   		font-weight: 700;
	}

	@media only screen and (max-width: 768px) {
	    .navbar {
	        text-align: center;
	    }
	    .navbar nav { 
	        display: inline-block;
	        float: none;
	    }    
	    .navbar li a{
	        margin: 0;
	    }
	    .navbar .logo {        
	        margin: auto;
	        padding: 25px 0;
	        float: none;
	        font-size: 35px;
	    }
		.header .heading {
			font-size: 40px;
		}
		.header .subheading {
		    font-size: 80px;
		}
	}
	@media screen and (max-width: 555px) {
		.header .heading {
			font-size: 35px;
		}
		.header .subheading {
		    font-size: 70px;
		}
		.header button {
			font-size: 12px;
			margin-top: 10px;
		}
		.header hr {
			margin: 25px auto;
		}
	    nav li:nth-child(-n+5) {
	        width: 33%;
	        float: left;
	        margin: 0;
	    }
	    nav li:nth-last-child(-n+2) {
	        width: 15%;
	        float: left;
	        margin: 0;
	    }
	}
	@media screen and (max-width: 480px) {
		.header .heading {
			font-size: 30px;
		}
		.header .subheading {
		    font-size: 60px;
	   		line-height: 60px;
		}
	}
	@media screen and (max-width: 380px) {
		.header .main {
		    margin: 50px 0;
		}
		.header .heading {
			font-size: 25px;
		}
		.header .subheading {
		    font-size: 40px;
	   		line-height: 40px;
		}
		.navbar {
			padding-top: 10px;
		}
	    .navbar .logo {     
	        font-size: 30px;
    		margin: 0;
	    }
		.navbar li a {
			font-size: 12px;
		}
		.header button {
			font-size: 11px;
			margin-top: 0;
		}
	}

/* Main page*/
	.vertical-padding {
		padding: 100px 0; 
	}
	.main-section .description {
		margin-bottom: 100px;	
	}
	.main-section .title {
		font: 14px 'Montserrat', sans-serif;
		font-weight: 700;
		color: #4c4c4c;
	    text-transform: uppercase;
	}
	.main-section .heading {
		font: 25px 'Kaushan Script', cursive;
		text-align: center;
		color: #333333;
	}
	.main-section .subheading {	
	    text-transform : uppercase;
	    text-align: center;
	    font: 30px 'Montserrat', sans-serif;
	    font-weight: 700;
	    color: #333333;
	    margin: 10px 0;
	}

/* About */
	.about .photos {
		margin: 20px 0;
	}
	.about .photos ul {
	    margin: 0;
	    padding: 0;
	}
	.about .photo-mask {
		background-color: #95e1d3;
	}
	.about-photo-item {
	    width: 100%;
	    background-size: cover;
        height: 200px;
        position: relative;
        transition: all .15s ease;
        top: 0;
        left: 0;
	}
	.about-photo-item:hover {
		top: -10px;
		left: -10px;
	}
	.about-photo-item:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: '';
		background: #f38181;
		background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%);
		background: -webkit-linear-gradient(top, #f38181 0%,#fce38a 100%);
		background: linear-gradient(to bottom, #f38181 0%,#fce38a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 );
		opacity: 0;
        transition: all 0.5s ease;
	}
	.about-photo-item:hover:before {
		opacity: 0.9;
	}
	.about-photo-item .text {
		position: absolute;
		top: 50%;
		left: 50%; 
		transform: translate(-50%, -50%);
        transition: opacity .6s ease;
	    opacity: 0;
	}
	.about-photo-item .name {
    	font: 15px 'Montserrat', sans-serif;
    	font-weight: 700;
    	color: #ffffff;
	    text-transform: uppercase;	
	    margin-top: 5px;	
	}
	.about-photo-item:hover .text {
		opacity: 1;
	}
	@media only screen and (max-width: 991px) {
		.about .description {
   			margin-bottom: 0;
		}
		.about-photo-item {
			height: 300px;
			margin-top: 50px;
		}
		.about .photos ul li {
			margin-left: calc(100% / 12 * 1);
		}
	}
	@media screen and (max-width: 555px) {
		.about-photo-item {
			height: 200px;
		}
	}
	@media screen and (max-width: 380px) {
		.about-photo-item {
			height: 150px;
			margin-top: 30px;
		}
	}

/* Facts */
	.facts {
		background-color: #95e1d3;
		color: #fff;
		/*padding: 100px 30px;*/
	}
	.facts li {
	    float: left;
	    width: 20%;
	    text-align: center;
	    border-left: 1px solid #b5eae0;
	    height: 220px;
	}
	.facts li:last-child {
		border-right: 1px solid #b5eae0;
	}
	.fact {
		padding-top: 60px;
	}
	.digit {
    	font: 50px 'Montserrat', sans-serif;
    	font-weight: 700;
	}
	.caption {
    	font: 15px 'Montserrat', sans-serif;
	    text-transform: uppercase;
	}
	@media screen and (max-width: 555px) and (min-width: 381px) {
		.facts li:nth-child(-n+2) {
			width: 50%;
			border-bottom: 1px solid #b5eae0;
		}
		.facts li:nth-child(2) {
			border-right: 1px solid #b5eae0;
		}
		.facts li:nth-last-child(-n+3){
			width:  calc(100% / 3);
		}
	}
	@media screen and (max-width: 380px) {
		.facts li {
			width: 100%;
			border-right: 1px solid #b5eae0;
		}
		.facts li:not(:first-child) {
			border-top: 1px solid #b5eae0;
		}
	}

/* Services */
	.services {		
		margin: 100px 0 50px 0;
	}
	.services li {		
		padding: 0 30px;
   		margin: 50px 0;
	}
	.services ul hr {
		border-top: 1px solid #e5e5e5;	
		width: 100%;	
   		margin:0 auto;
	}
	.services .title {
		margin-bottom: 10px;
	}
	@media only screen and (max-width: 991px) {
	    .services ul hr  {
	    	display: none;
	    }
	}
	@media screen and (max-width: 767px) {
		.services li {		
			padding: 0 30px;
	   		margin: 30px;
		}		
	} 
	@media screen and (max-width: 480px) {		
		.services li {		
			padding: 0;
	   		margin: 30px 0;
		}
	}

/* Feature */
	.feature {
		background: #efefef url(../img/design.png);		
		background-position: center center;
		background-size: cover;
		max-width: 100%;
		padding-top: 100px;		
	}
	.feature .ipad {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: 500px;
		margin: auto;
	}
	.feature .ipad img {
		width: 100%;
	}
	.feature .iphone {
		position: absolute;
		bottom: -90px;
		right: -110px;
	}
	@media only screen and (max-width: 768px) {
		.feature .iphone {
			display: none;
		}
	}

/* Work */

	.work img {
		max-width: 100%;
	}
	.work .title {
		display: inline;
	}
	.workman{
		background-image: url(../img/workman.png);
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	@media screen and (min-width: 992px) {		
		.table {
		    display: table;
		    width: 100%;
		}
		.table-col {
		    display : table-cell;
		    float: none;
		    vertical-align: middle;
		    position: relative;
		}
	}

/* Quotes */
	.quotes-section {
		background: #f8f8f8;
	}
	.quotes-section .quotes {
		max-width: 900px;
		position: relative;
    	margin: 50px auto;
	}
	.quotes-section ul img {
		border: 2px solid #95e1d3;
		padding: 25px;
	}
	.quotes-section .quote {
		font-style: italic;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	.quotes-section hr {		
	    width: 50px;
	    display: inline-block;
	    margin: 6px;
	}
	.quotes-section .author {	
		font: 20px 'Kaushan Script', cursive;
		color: #333333;	
		display: inline-block;		
	}
	.quotes-section .prev {
		position: absolute;
		left: -100px;
		top: 50%;
	}
	.quotes-section .next {
		position: absolute;
		right: -100px;
		top: 50%;
	}
	.quotes-section button {
		background: transparent;
		border: none;
	}

/* Team */

	.team ul {
	    margin: 0;
	    padding: 0;
	}
	.team .photo-mask {
		background-color: #95e1d3;
	}
	.teamMember{
	    width: 100%;
	    background-size: cover; 
	    background-position: center center;
	    background-repeat: no-repeat;
        position: relative;
        transition: all .15s ease;
        top: 0;
        left: 0;
        height: 450px;
	}
	.teamMember:hover {
		top: -10px;
		left: -10px;
	}
	.teamMember:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: '';
		background: #f38181;
		background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%);
		background: -webkit-linear-gradient(top, #f38181 0%,#fce38a 100%);
		background: linear-gradient(to bottom, #f38181 0%,#fce38a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 );
		opacity: 0;
        transition: all 0.5s ease;
	}
	.teamMember:hover:before {
		opacity: 0.9;
	}
	.teamMember .text {
		position: absolute;
		top: 50%;
		left: 48%; 
		transform: translate(-50%, -50%);
        transition: opacity .6s ease;
	    opacity: 0;
	}
	.teamMember:hover .text {
		opacity: 1;
	}
	.teamMember i {
    	float: left;
		border-left: 1px solid #f38181;
		background: #fce38a;
		color: #f38181;
		font-size: 25px;
		text-align: center;
		height: 45px;
	    width: 45px;
		padding: 10px;
	    display: inline-block;	
    	margin: 0;
	}
	.teamMember .fa-instagram {
		border-right: 1px solid #f38181;
	}
	.teamMember i:hover {
		background: #f38181;
		color: #ffffff;
	}

	@media only screen and (min-width: 992px) and (max-width: 1199px){
		.teamMember i {			
		    font-size: 22px;
		    height: 35px;
		    width: 35px;
		    padding: 7px;
		}
	}
	@media only screen and (max-width: 991px) {
		.team li {
			margin-left: calc(100% / 12);
		    margin-bottom: 50px;
		}		
		.team li:last-child {
		    margin-bottom: 0;
		}
	}
	@media screen and (max-width: 768px) {
		.teamMember{
	        height: 350px;
		}
	}
	@media screen and (max-width: 555px) {
		.teamMember{
	        height: 250px;
		}
		.teamMember i {			
		    font-size: 22px;
		    height: 35px;
		    width: 35px;
		    padding: 7px;
		}
	}
	@media screen and (max-width: 410px) {		
		.teamMember{
		}
		.teamMember .fa-twitter {	
			border-right: 1px solid #f38181;		
		}
	}
	.team .title {
		text-align: center;
		margin: 25px 0 5px 0;
	}
	.team .position {
		text-align: center;
    	font-style: italic;
    	font-size: 14px;
	}

/* Logos */
	.logos {
		background: #f5f5f5;
		padding: 30px 0;		
		text-align: center;
	}
	.logos img {
		max-width: 100%;
		height: 100px;
		margin: 20px auto;
	}
	@media screen and (max-width: 380px) {		
		.logos .clearfix div {
			width: 100%;
		}
	}

/* Examples */

	.examples {
		padding-top: 100px;
	}
	.examples ul {
	    margin: 0;
	    padding: 0;
	}
	.examples .photo {
	    width: 100%;
	    background-size: cover;
		background-position: center center;
        height: 0;
        padding-bottom: 80%;
        position: relative;
	}
	.examples .photo.double {
        padding-bottom: 160%;
	}
	.examples .photo:before {
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		background: #f38181;
		background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%);
		background: -webkit-linear-gradient(top, #f38181 0%,#fce38a 100%);
		background: linear-gradient(to bottom, #f38181 0%,#fce38a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 );
		opacity: 0;
        transition: all 0.5s ease;
	}
	.examples .photo:hover:before {
		opacity: 0.9;
	}
	.examples .photos .text {
		position: absolute;
		top: 50%;
		left: 50%; 
		transform: translate(-50%, -50%);
        transition: opacity .6s ease;
	    opacity: 0;
	}
	.examples .photos .title {
    	font: 13px 'Montserrat', sans-serif;
    	color: #ffffff;
	    text-transform: uppercase;	
	    margin: 10px 0;	
	}
	.examples .photos .description {
    	font-size: 12px;
    	font-style: italic;
    	color: #ffffff;
    	margin-bottom: 0;
	}
	.examples .photo:hover .text {
		opacity: 1;
	}
	@media screen and (max-width: 555px) {
		.examples .description {
			margin-bottom: 50px;
		}
	}

/* Reviews */
	.reviews {		
		background: #efefef url(../img/reviews.png);
		background-position: center center;
		background-size: cover;
		max-width: 100%;
		padding: 100px 0;	
	}
	.comments hr {
		border-top: 3px solid #f38181;
	    margin: 20px 0;		
	}
	.reviews .review {
		margin: 60px 0;
		/*padding: 0 25px;*/
	}
	.reviews .review:last-child {
		/*padding: 0 10px;*/
	}
	.reviews .position {
    	font-style: italic;
    	font-size: 14px;
    	margin: 10px 0;
	}
	@media only screen and (max-width: 768px) {
	    .reviews {
	    	text-align: center;
	    }
		.reviews .review {
			width: 80%;
			margin: 40px auto;
		}
		.comments hr {
			margin: 20px auto;
		}
	}

/* Blog */
	
	.blog .article-photo {
	    width: 100%; 
	    background-position: center center;
	    background-size: cover;
	    position: relative;
	}
	.blog .date {
		position: absolute;
		background: #95e1d3;
	    height: 65px;
	    width: 55px;
	    left: -10px;
	    bottom: 10px;
	    text-align: center;
	    color: #fff;
	    padding-top: 5px;
	}
	.date .day{
	    font: 25px 'Montserrat', sans-serif;
	    font-weight: 700;
	}
	.date .month {			
    	font-style: italic;
    	font-size: 14px;
	}
	.articles hr {
		border-top: 1px solid #e5e5e5;	
		width: 100%;	
   		margin: 0 auto;
   		margin-top: 20px;
    	margin-bottom: 20px;
	}
	.articles .title {
		margin: 20px 0;
	} 
	.articles .comments, .views, .amount, i {		
    	font-style: italic;
    	font-size: 14px;
		display: inline;
	} 
	.articles .comments {		
		margin-left: 10px;
	}
	@media only screen and (max-width: 992px) {
		.articles li {		
			margin: 50px 0 50px 10%;
		}
		.article-photo {
			height: 300px;
		}
	}
	@media only screen and (min-width: 992px) {
		.article-photo {
			height: 250px;
		}
	}

/* Footer */

	.footer {
		background: #f8f8f8;
		padding: 100px 0 20px 0;
	}
	.footer ul {
		margin-bottom: 0;
	}
	.footer .title {
		margin-bottom: 40px;
	}


	/*contacts*/
	.footer .contacts .name {
		font: 45px 'Montserrat', sans-serif;
		font-weight: 700;
		color: #cccccc;
	}
	.footer .contacts .description {
		margin: 40px 0;
		color: #cccccc;
		line-height: 22px;
	}
	.footer .contacts hr {
   		margin: 20px 0;	
	}	
	.footer .contacts .followers {
		color : #333333;
		font-family: 'Montserrat', sans-serif;
   		padding-top: 20px;
	}
	.footer .contacts .social {
		font-size: 20px;
	}
	.footer .contacts .fa {
		color: #95e1d3;
		display: inline;
		margin: 0 5px;
		font-size: 15px;
	}
	.footer .contacts .email {
		border-right: none;
		float: left;
		width: 50%;
  		/*color: #f2f2f2;*/
	} 	
	.footer .contacts .subscription {
		margin-top: 40px;		
	}


	/*blog*/
	.footer .blogs {
		padding-top: 10px;
	} 
	.footer .blogs .photo {
	    background-size: cover;
		background-position: center center;
        height: 0;
	}
	.footer .blogs li .title {
		font-size: 12px;
		margin-bottom: 0;
	}
	.footer .blogs li:first-child {
		margin-top: 0;
	}		
	.footer .blogs li {
		margin-top: 40px;
	}
	.footer .blogs li .col-xs-8 {
		padding: 10px;
	}
	.footer .blogs .photo {
   	 	width: 100%;
   		padding-bottom: 75%;
	}


	/*insta*/
	.footer .instagram {
		padding-top: 10px;
	} 
	.footer .instagram .photo {
	    width: 100%;
	    background-size: cover;
		background-position: center center;
        height: 0;
        padding-bottom: 90%;
	}
	.footer .instagram li {
        padding: 2px;
	}
	.footer .instagram a {
		color: #000;
	}
	.footer .instagram .pictures {
		margin-bottom: 10px;
	}


	.footer .copyright {
		color: #585858;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}
	.footer hr {
		border-top: 1px solid #e5e5e5;	
		width: 100%;	
   		margin:0 auto;
   		margin-top: 60px;
   		margin-bottom: 20px;
	}


	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		.footer .contacts .description {
		    margin: 20px 0;
		    line-height: 20px;
		}
		.footer .contacts hr {
		    margin: 12px 0;
		}
		.footer .contacts .fa {
		    margin: 0 3px;
		}
		.footer .contacts .subscription {
		    margin-top: 30px;
		}
		.footer .blogs li {
			margin-top: 30px;
		}
		.footer .blogs li .col-xs-8 {
			padding: 6px;
		}
		.footer .blogs .photo {
		    width: 100%; 
        	padding-bottom: 80%;
		}
		.footer .instagram .pictures {
		    margin-bottom: 13px;
		}
	}	

	@media only screen and (max-width: 992px) {
		.footer .col-xs-10 {
			margin-left: calc(100% / 12);
		}
		.footer .blogs {
			margin: 100px 0;
		}
		.footer .blogs .photo {
		    width: 100%; 
        	padding-bottom: 60%;
		}
		.footer .blogs li .col-xs-8 {
			padding-top: 5%;
			padding-left: 5%;
		}
		.footer .blogs .date {
			margin-top: 5px;
		}
	}

	@media only screen and (max-width: 768px) {
		.footer .contacts .description {
			margin: 15px 0;
		}
		.footer .contacts hr {
		    margin: 10px 0;
		}.footer .contacts .subscription {
		    margin-top: 30px;
		}

	}